* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:aliceblue;
}

body {
    width: 100%;
    height: 100vh;
    background: #171717;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
}
body:has(input[name="mode"][value='hard']:checked) {
    background-image: radial-gradient(#171717 50%, #420505);
}
body:has(input[name="mode"][value='easy']:checked) {
    background-image: radial-gradient(#171717 50%, #032b31);
}
header {
    position: relative;
    left: 0;
    width: 100%;
    text-align: center;
    top: 0;
    padding: 0.2rem 1rem;
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header img {
    aspect-ratio: 1;
    width: 2rem;
}
#subHeader {
    flex: 100%;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
}
.modeLabel {
    color: #ffffff88;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
}
.modeLabel:has(:checked) {
    color: white;
    border: 1px solid #ffffff88;
}
#easyLabel:has(:checked) {
    background-color: #0c6589;
}
#hardLabel:has(:checked) {
    background-color: rgb(188, 95, 19);
}
#root {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#menuToggle {
    background: none;
    padding: 0.25rem;
    aspect-ratio: 1;
    width: 2rem;
    font-size: 1.2rem;
    color: white;
    border: 1px solid #ffffff88;
    border-radius: 0.2rem;
    cursor: pointer;
}
#highScores {
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: #171717;
    color: white;
    font-size: clamp(1.2rem, 6vw, 2.5rem);
    text-align: center;
    padding: 4rem 2rem;
    position: fixed;
}
#scoreList {
    width: 80%;
    margin: 4rem auto;
    list-style-type: none;
    line-height: 1.5;
}
#closeModal {
    background: none;
    border: 1px solid #ffffff88;
    border-radius: 0.2rem;
    padding: 0.5rem;
    cursor: pointer;
}
.barely {
  max-width: 300px;
  opacity: 0.5;
}
#wheel {
    width: 240px;
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: 120px 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid;
    box-shadow: 4px 2px 30px #555;
    transition: box-shadow 0.2s;
}
#wheel.failed {
    filter: saturate(0.5)
}
#wheel.hidden {
    opacity: 0;
}

#instructions {
    font-size: 2rem;
    min-height: 3rem;
}
#begin {
    font-size: 1.5rem;
    background: none;
    padding: 0.2rem 2rem;
    border-radius: 0.4rem;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
#begin:disabled {
    opacity: 0.25;
    cursor: wait;
}
.color {
    display: grid;
    place-items: center;
    border: 1px solid;
    cursor: pointer;
}
.color.active {
    filter: brightness(150%);
}
#wheel:has(.active) {
    transition: box-shadow 0.2s;
    box-shadow: 4px 2px 60px #666;
}
#Blue {
    border-top: none;
    border-left: none;
    background-color: rgb(0, 110, 255);
    background-image: radial-gradient(circle at 100% 100%, transparent 20%, #ffffff31, transparent, #00000083)
}
#Green {
    border-bottom: none;
    border-right: none;
    background-color: rgb(20, 155, 56);
    background-image: radial-gradient(circle at 0% 0%, transparent 20%, #ffffff31, transparent, #00000083)
}
#Red {
    border-top: none;
    border-right: none;
    background-color: rgb(224, 15, 32);
    background-image: radial-gradient(circle at 0% 100%, transparent 20%, #ffffff31, transparent, #00000083)
}
#Purple {
    border-bottom: none;
    border-left: none;
    background-color: rgb(152, 14, 233);
    background-image: radial-gradient(circle at 100% 0%, transparent 20%, #ffffff31, transparent, #00000083)
}